<!DOCTYPE html>
<html lang="en">

<head>
    {{>Header}}
    <title>Not Found!</title>
</head>

<body>
    {{>Menu}}

    <div class="imgDiv">
        <img src="img/404.png" alt="Not Found" id="Img404">
    </div>





    {{>Footer}}
</body>

</html>