<!-- Footer Coding -->
<footer>
    <p>Developed By <span> Umair Ali </span></p>
</footer>

<script src="../Vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../Vendors/fontawesome-free-5.15.4-web/js/all.min.js"></script>